<div class="anaarkaplan">
<div class="container mt-5">
  <div class="row">
    <div class="col mx-auto">
      <h1 class="display-3 mx-auto text-center mt-5 mb-5">Hakkımızda</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <img src="https://firebasestorage.googleapis.com/v0/b/fir-data-aca8d.appspot.com/o/images%2Fteacher-tutor-language-board-wallpaper-preview.jpg?alt=media&token=f9f4fec9-1c8d-4a3a-8de2-ee91e5eefd81" alt="egitimci" 
      style="border-radius:15px;max-width:500px;">
    </div>
    <div class="col-md-7">
      <p class="lead text-center mt-2 p-4 yazi bg-dark text-light">Passenger School olarak 56 yılı aşkın bir süredir insanlara en kaliteli eğitimi vermenin derdindeyiz. Uzman
        eğitmenlerimiz ve zengin ders içeriklerimizle 7'den 70'e kadar herkes için en kaliteli eğitimi sunmaktan gurur da duyuyoruz.
        2007-2008-2011-2013-2014-2015-2019-2020-2021 Eğitim Sahipleri En İyi Eğitim Platformu Ödülü, 2009-2014 İnternet Düşkünleri
        En İyi Eğitim Portalı Ödülü, 2012 Kültür ve Turizm Bakanlığı En İyi Eğitim Web Sayfası,
        2015-2017 Avrupa Eğitimcileri En Başarılı Eğitim Platformu Ödülü, 2016 Eğitimde Çağ En İyi Platform Ödülü, 2022 Eğitim Sahipleri Onur Ödülü,
        2022 Eğitim Gönüllüleri En İyi Eğitim Sayfası Ödülünü ve daha nicelerini kazandığımız için gururla söylebiliyoruz ki en kaliteli eğitimi sunmaktan gurur duyuyoruz !
        Şimdi siz de hemen kayıt olun. Bu A kalite eğitimlerimizden yararlanma fırsatını yakalayın.
      </p>
      <ul class="list-group mb-5">  <button class="btn btn-outline-dark mx-auto text-center btn-lg" routerLink="/login">Kayıt Ol</button></ul> 
    </div>
  </div>
</div>
<br><br><br><br><br><br><br><br>
</div>