<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/download.jpg" class="d-block w-100" alt="..." height="900px">
      <div class="carousel-caption d-none d-md-block mb-5">
        <div class="mb-5">
          <h5 class="display-1 mb-5">Passanger School</h5>
          <p>56 yıllık tecrübeyle karşınızda !</p>
        </div>

      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/web-developer-vs-software-engineer-man-with-laptop.webp" class="d-block w-100" alt="..."
        height="900px">
      <div class="carousel-caption d-none d-md-block mb-5">
        <div class="mb-5">
          <h5 class="display-1 mb-5">Online Eğitimle Bir Yazılımcı, Bir Müzisyen veya Bir Tasarımcı Olmak İster Misiniz
            ? </h5>
          <p>Ne dersin ?</p>
        </div>

      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/software-developer-on-php-code.jpg" class="d-block w-100" alt="..." height="900px">
      <div class="carousel-caption d-none d-md-block mb-5">
        <div class="mb-5">
          <h5 class="display-1 mb-5">Cevabın Evet Mi ?</h5>
          <p>Eğer cevabınız evet ise hemen kayıt olun ve onlarca eğitimin tadına varın !</p>
        </div>

      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="anaarkaplan">
  <br><br><br>
  <div class="container">
    <div class="row">
      <div class="col-6 text-center">
        <h2 class="display-4">Biz Kimiz ?</h2>
        <div class="card mt-4 bg-dark text-light">
          <div class="card-content">
            <p class="lead p-5">Passenger School olarak 56 yılı aşkın bir süredir insanlara en kaliteli eğitimi vermenin
              derdindeyiz. Uzman eğitmenlerimiz ve zengin ders içeriklerimizle
              7'den 70'e kadar herkes için en kaliteli eğitimi sunmaktan gurur da duyuyoruz.
              2007-2008-2011-2013-2014-2015-2019-2020-2021 Eğitim Sahipleri En İyi Eğitim Platformu Ödülü, 2009-2014
              İnternet Düşkünleri En İyi Eğitim Portalı Ödülü, 2012 Kültür ve Turizm Bakanlığı En İyi Eğitim Web
              Sayfası, 2015-2017 Avrupa Eğitimcileri En Başarılı Eğitim Platformu Ödülü, 2016 Eğitimde Çağ En İyi
              Platform Ödülü, 2022 Eğitim Sahipleri Onur Ödülü, 2022 Eğitim Gönüllüleri En İyi Eğitim Sayfası Ödülünü ve
              daha nicelerini kazandığımız için gururla söylebiliyoruz ki en kaliteli eğitimi sunmaktan gurur duyuyoruz
              ! Şimdi siz de hemen kayıt olun. Bu A kalite eğitimlerimizden yararlanma fırsatını yakalayın.</p>
          </div>
        </div>
      </div>
      <div class="col-6 text-center">
        <h2 class="display-4">Neden Online Eğitim ?</h2>
        <div class="card mt-4 bg-dark text-light">
          <div class="card-content">
            <p class="lead p-5">Günümüz şartlarında yüzyüze eğitimi biz gereksiz ve demode buluyoruz. Önceden yüzyüze
              verdiğimiz eğitimlerimizi
              2015 yılında İstanbul Beşiktaş'da olan son yüzyüze eğitim merkezimizi de kapatarak sonlandırdık.
              İnsanların zorunlu olarak
              belli saatler içerisinde eğitim alması yerine, evinden oturduğu yerde ne zaman canı isterse veya ne zaman
              müsait olursa
              bilgisayarının başına oturup o zaman eğitimi almasını daha sağlıklı ve konforlu bulduk. Profesyonel ve
              anlaşmalı olduğumuz
              eğitmenlerimize eğitmenlerimizin belirlediği saatler aralığında yine sorular sorabilir ya da sohbet
              edebilirsiniz. Ücretli veya
              ücretsiz olan eğitimi satın aldıktan sonra sözleşmede belirtilen süre zarfı boyunca eğitmenimize
              dilediğiniz gibi
              ulaşabilirsiniz. Şimdi hemen kayıt olup veya giriş yaparak Passanger School'un eşsiz hocalarından eşsiz
              eğitimlerimizi alın !
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br><br>
</div>