.arkasinaresimgelecek{
    background-color: rgb(39, 39, 39);
    border-radius: 30px;
    box-shadow: 0px 0px 100px 50px rgb(0, 0, 0);
}

.navbarimsisey{
    background-color: rgb(53, 53, 53);
}

.hatirla{
    background-color: rgb(255, 255, 255);
}
.anaarkaplan{
    background:url(../../../assets/3d-render-set-academic-hat-different-positions.jpg);
    background-size: 300px;
    width: 100%;
}

.beyaz{
    color:White;
}

