p{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: orange;
    padding-bottom: 12px;
    
}

.yukaridakiler{
    font-size: 12px;
    color: rgb(204, 204, 204);
}
.anaarkaplan{
    background:url(../../../assets/GettyImages-577674005_492115_zfpgiw.jpg);
    background-size: 500px;
    width: 100%;

}

h1{
    border-radius: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: orange;
    box-shadow: 0px 0px 15px 5px orange;
}

table{
    border-color: orange;
}

thead{
    margin: 20px;
}