.card-img-top{
    width: 50%;
    border-radius: 500px;
    
}

p{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: orange;
    padding-bottom: 12px;
    
}

.kenaryok{
    border-style: none;
}

.yukaridakiler{
    font-size: 12px;
    color: rgb(204, 204, 204);
}

.kullaniciekleme:hover{
    box-shadow: 0px 0px 20px 5px rgb(84, 84, 84);
}

.a00{
    background-color: rgb(65, 65, 65);
    color:rgb(238, 238, 238);
}

.a00:focus{
    background-color: rgb(65, 65, 65);
    color:rgb(238, 238, 238);
}

.a00:focus{
    background-color: rgb(65, 65, 65);
    color:rgb(238, 238, 238);
}

.anaarkaplan{
    background:url(../../../assets/GettyImages-577674005_492115_zfpgiw.jpg);
    background-size: 500px;
    width: 100%;

}